<h1>Editing User</h1>

<%= render "form", friend: @friend %>

<br>

<div class="blogs-container container">

</div>
<div>
  <%= link_to 'Edit Blogs', "#" , id:"edit-blog", class: "btn btn-outline-success" %>
</div>

<div>
</br>
  <%= link_to "Show this User", @friend, class: 'btn btn-secondary'%> |
  <%= link_to "Back to Users", friends_path, class: 'btn btn-primary' %>
</div>

<script>


</script>

